---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

/*
a { color: #cc7a00;}
h1 { color: #cc6d00;}
.profile-wrapper text-center
.d-flex
flex-column align-items-end
*/

html[data-mode=dark] {
  --link-color: #a54400;
  --link-underline-color: #a54400;
  --sidebar-active-color: #883300;
}

#sidebar .site-title a {
  color: darkorange;
}

#sidebar .site-subtitle {
  color: darkorange;
}

h1 {
  color: darkorange;
}
